 /* CSS Reset: */
 
 body {
     font-family: 'Baloo Bhaina 2', cursive;
     margin: 0px;
     padding: 0px;
     background-image: url('https://images.pexels.com/photos/3112004/pexels-photo-3112004.jpeg?auto=compress&cs=tinysrgb&w=1600');
     background-repeat: no-repeat;
     width: 100vw;
     height: 100vh;
     background-size: 100%;
     /* color: white; */
 }
 
 img {
     width: 60px;
     line-height: 1;
 }
 
 div {
     text-align: center;
     color: white;
     line-height: 1;
 }
 
 .navbar li {
     display: inline-block;
     font-size: 20px;
     border: 1px solid white;
     border-radius: 6px;
     padding: 4px;
     background-color: rgb(255, 252, 252);
     margin: 0 1rem;
 }
 
 .navbar li a {
     display: inline-block;
     color: #000000;
     text-decoration: none;
     padding: 2px 25px;
     font-size: 25px;
 }
 /* .navbar li a.active,
    .navbar li a:hover {
        text-decoration: underline;
        color: grey;
    } */
 
 .left {
     display: inline-block;
     position: absolute;
     top: 4px;
     left: 0px;
     /* border: 2px solid red; */
 }
 
 .mid {
     display: block;
     margin: auto;
     /* width: 650px; */
     /* border: 2px solid green; */
     /* background-color: #000000; */
     margin: auto;
     /* border-radius: 20px; */
 }
 
 .right {
     display: inline-block;
     position: absolute;
     top: 12px;
     right: 20px;
     /* border: 2px solid yellow; */
     width: 14%;
 }

 .heading{
    font-family: 'Satisfy', cursive;
    font-size: 50px;
 }

 .btn {
     color: white;
     background-color: #000000;
     border: 1px solid white;
     border-radius: 8px;
     padding: 0.5rem;
     display: inline-block;
     margin: 2px 2px;
     width: 47%;
     cursor: pointer;
 }
 
 .btn:hover {
     background-color: rgb(172, 168, 168);
     color: #000000;
 }
 
 .container {
     font-family: 'Baloo Bhaina 2', cursive;
     margin: 70px 85px;
     height: 475px;
     padding: 25px;
     /* border: 2px solid white; */
     width: 35%;
     left: 54px;
     position: absolute;
 }
 
 .form-grp {
     margin: 28px 2px;
     padding: 2px;
 }
 
 .form-grp input {
     width: 60%;
     text-align: center;
     font-size: 20px;
     margin: 15px;
 }
 
 .container .btn {
     width: 62%;
     font-size: 18px;
 }
 
 .container h2 {
     color: #ffba1f;
 }

 input{
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.5rem;
 }
